.nav {
  height: 5rem;
  background-color: rgb(201, 149, 149);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem;
  position: sticky;
  top: 0;
  z-index: 100;
  transition: all 0.3s ease-in-out;
  @media screen and (max-width: 768px) {
    padding: 2rem;
    height: 2rem;
  }
}

.container {
  padding: 5rem;
  transition: all 0.3s ease-in-out;

  @media screen and (max-width: 768px) {
    padding: 2rem;
  }
}


button {
  background-color: rgb(150, 53, 53);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.2rem;
  transition: all 0.3s ease-in-out;
  cursor: pointer;

  &:hover {
    background-color: rgb(81, 81, 177);
  }

  &:focus {
    outline: none;
  }

  &:active {
    transform: scale(0.9);
  }
}


.login-register {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    input {
      height: 2rem;
    }
  }

  .register-link {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }
}

.post-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 3rem;
  gap: 2rem;

  .post-card {
    border: 2px solid #352f2f;
    padding: 2rem;
    border-radius: 15px;
    //on hover change the border color
    transition: all 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
      border-color: #4d11f3;
    }

    .post-card-buttons {
      display: flex;
      gap: 1rem;
    }
  }
}

.create-edit-post {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}